.encabezado{
    text-align: center;
}


.aside_bar{ 
    background-color: red;
}
#productos { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    div{
        .item-img{
            text-align: center;
            img{
                height: 230px;
                width: 180px;
            }
        }
        .item-name{
            text-align: center;
            h2{
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 0px;
            }
        }
        .item-price{
            text-align: center;
            p{
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}

/* #productos{

    
*/
